body{
    background-color: #08c9cf;
    background-image: url(./img/cinza.jpg);
    background-repeat: unset;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
h1{
    text-align:center;
    background-color: black;
    color:white;
    font-size: 40px;
}
h1:hover{
    color:yellow;
    background-color:rgb(4, 83, 75);
}
p{
    text-align:center;
    font-size: 20px;
    text-align:justify;
    color:black;
    font-family: Verdana;
    background-color: white;
   font-size: 25px;
   margin-left: 10px;
   margin-right: 10px;
}
a:link{
    background-color:yellow;
    color:rgb(3, 29, 14);
    text-decoration:center; 
    font-weight: bold; 
    border-style:solid;
    border-top-color:red;
    text-align: center;
}

a:hover{background: rgb(221, 178, 162);
    color:darkgreen;
    font-weight: bold;
    border-color: darkred;
}
#rodape{
    position:unset;
    background-color: darkblue;
    color:white;
    padding-top: 20px;
    padding-bottom: 10px;
}